.footer {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #e5e5e5;
  z-index: 999999;
  padding: 2vw 0;
  overflow: hidden;
}

.topWrapBubble2 {
  position: absolute;
  top: -40%;
  height: 80vh;
  width: 100%;
  z-index: -1;
  transform: translate3d(0px, 0vw, 0px) scale3d(1, 1, 1) scale(1.3);
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  background-color: #e5e5e5;
}

.scroller {
  position: relative;
  position: absolute;
  height: 50vh;
  width: 100%;
  overflow: hidden;
}

.scroll2 {
  position: relative;
  position: absolute;
  left: -10%;
  width: 100%;
}

.scrollLine2 {
  position: relative;
  flex-shrink: 0;
  white-space: nowrap;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
}

.scrollLine2 h2 {
  display: inline-flex;
  align-items: center;
  gap: 1vw;
  padding: 0 20px;
  font-size: 6.5vw;
  font-family: gilroy, "Gilroy", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  margin-left: -1vw;
  text-transform: uppercase;
  color: #f06e26;
  margin: 0;
  flex-wrap: nowrap;
}

.scrollLine2 h2 svg {
  width: 5vw;
  height: 5vw;
  padding: 1vw;
  flex-shrink: 0;
}

.scrollLine3 {
  position: relative;
  flex-shrink: 0;
  left: -80%;
  white-space: nowrap;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
}

.scrollLine3 h2 {
  display: inline-flex;
  align-items: center;
  gap: 1vw;
  padding: 0 20px;
  font-size: 6.5vw;
  font-family: gilroy, "Gilroy", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  margin-left: -1vw;
  color: #a84d1b;
  text-transform: uppercase;
  margin: 0;
  flex-wrap: nowrap;
}

.scrollLine3 h2 svg {
  width: 5vw;
  height: 5vw;
  padding: 1vw;
  flex-shrink: 0;
}

.logoText {
  position: absolute;
  top: 100%;
  left: 4%;
  transform: translate(-4%, -100%);
  height: 50vh;
  overflow: hidden;
  padding: 2vw 0;
}

.logoText h1 {
  display: flex;
  align-items: center;
  font-family: gilroy, "Gilroy", sans-serif;
  font-weight: 600;
  color: rgb(31, 31, 31);
  margin: 0;
  font-size: 3vw;
  line-height: 1.2;
  gap: 1rem;
}

.logoText h1 span {
  display: inline-block;
  font-size: 15vw;
  font-family: playfair, "Playfair Display", serif;
  font-weight: 400;
  line-height: 1;
}

.footer p {
  display: flex;
  align-items: center;
  gap: 2vw;
  font-family: gilroy, "Gilroy", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  position: absolute;
  bottom: 6%;
  right: 2%;
  color: rgb(31, 31, 31);
  margin: 0;
}

.at {
  text-decoration: underline;
}

/* Responsive design */
@media (max-width: 1024px) {
  .scrollLine2 h2,
  .scrollLine3 h2 {
    font-size: 5vw;
  }

  .scrollLine2 h2 svg,
  .scrollLine3 h2 svg {
    width: 4vw;
    height: 4vw;
  }

  .logoText h1 {
    font-size: 2.5vw;
  }

  .logoText h1 span {
    font-size: 12vw;
  }

  .footer p {
    font-size: 0.6rem;
  }
}

@media (max-width: 768px) {
  .scroller {
    height: 40vh;
  }

  .scrollLine2 h2,
  .scrollLine3 h2 {
    font-size: 4vw;
  }

  .scrollLine2 h2 svg,
  .scrollLine3 h2 svg {
    width: 8vw;
    height: 8vw;
  }

  .logoText {
    top: auto;
    bottom: 30%;
    left: 2%;
    transform: none;
    height: auto;
  }

  .logoText h1 {
    font-size: 1.5vw;
    flex-wrap: wrap;
  }

  .logoText h1 span {
    font-size: 10vw;
  }

  .footer p {
    font-size: 0.55rem;
    bottom: 10%;
    right: 1%;
  }
}

@media (max-width: 480px) {
  .scroller {
    height: 30vh;
  }

  .scrollLine2 h2,
  .scrollLine3 h2 {
    font-size: 3vw;
  }

  .scrollLine2 h2 svg,
  .scrollLine3 h2 svg {
    width: 6vw;
    height: 6vw;
    padding: 0.5vw;
  }

  .logoText h1 {
    font-size: 1.2vw;
  }

  .logoText h1 span {
    font-size: 8vw;
  }

  .footer p {
    font-size: 0.5rem;
    flex-direction: column;
    gap: 0.5rem;
    bottom: 5%;
  }
}
