.loadingScreen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #090119;
  /* background-image: linear-gradient(to top right, #2a2a2a, #141414); */
  overflow: hidden;
  z-index: 9999999999;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.22, 1) forwards 2s;
}

.loader {
  position: relative;
  margin-bottom: 30vh;
  width: 5rem;
  height: 8.5rem;
  animation: loaderSpin 2s linear infinite;
}

.loader svg {
  height: 100%;
  width: 100%;
}

.curve {
  position: absolute;
  top: 80%;
  height: 80vh;
  width: 100%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  background-color: #fef1e9;
  scale: 1.3;
  animation: pushUp 2s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes pushUp {
  0% {
    transform: translateY(0) scaleY(1);
  }
  50% {
    transform: translateY(-40px) scaleY(0.95);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
